/**
* CSS files with the .module.css suffix will be treated as CSS modules
* and scoped locally.
*/

.bg-wrapper {
  position: relative;
}

.heroBanner::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  background-image: url("/img/banner-bg.webp");
  background-repeat: no-repeat;
}

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  color: black;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}